#list-all{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.list{
    background-color:white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}
.list .input-list{
    display: inline-block;
    font-size: 30px;
}
.list .input-edit{
    font-size: 30px;
}
.list button{
    display: inline-block;
    float: right;
    margin-left: 20px;
    border: 1px solid grey;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
}
.list .button-save{
    float: right;
    margin-left: 20px;
    border: 1px solid grey;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
}
.list>button:hover{
    background-color: blue;
    color:white;
}
form{
    margin-left: 20px;
}
form input{
    font-size: 25px;
}